.coin {
  width: 40px;
  height: 40px;
  &__icon {
    width: 25px;
    height: 25px;
  }
}
.table {
  margin-bottom: 0;
  th,
  td {
    vertical-align: baseline;
  }
}
.up {
  color: green;
  font-weight: bold;
}

.down {
  color: red;
  font-weight: bold;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
